trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "20.x"
    displayName: "Install Node.js"

  - script: |
      yarn install --frozen-lockfile
      yarn build
    displayName: "Install dependencies and build"

  - task: AzureStaticWebApp@0
    inputs:
      app_location: ""
      output_location: "dist"       # Vite output folder  
      skip_app_build: true
      skip_api_build: true
      azure_static_web_apps_api_token: $(deploymentToken)
    displayName: "Deploy to Azure Static Web App"
