trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: "20.x"
      displayName: "Install Node.js"
    - task: CmdLine@2
      displayName: "Install dependencies and build"
      inputs:
        script: |
          yarn install
          yarn add -D @types/node
          yarn add -D vite
          yarn build
    - task: AzureStaticWebApp@0
      inputs:
        app_location: "dist"
        output_location: ""
        skip_app_build: true
        skip_api_build: true
        azure_static_web_apps_api_token: $(deploymentToken)
      displayName: "Deploy to Azure Static Web App"